/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: auto;
    padding-top: 100px;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: px; /* Coins arrondis pour un look moderne */
    width: 50%;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.close-button {
    color: #aaaaaa;
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group input[type="text"],
.form-group select {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Include padding and border in width */
}

.add-value, .remove-value {
    padding: 6px 10px;
    margin-left: 5px;
    background-color: #ee07c7;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.add-value:hover,
.remove-value:hover {
    background-color: #ee07c7;
}

/* Apply modern styles to submit button as well */
button[type="submit"] {
    width: auto;
    padding: 10px 20px;
    background-color: #d1099f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #d1099f;
}



/* Stylisation de la liste déroulante */
#agents-dropdown {
    width: 100%; /* Pleine largeur pour s'aligner avec d'autres champs de formulaire */
    padding: 8px 10px; /* Padding pour un meilleur aspect visuel */
    border: 1px solid #ccc; /* Une bordure subtile */
    border-radius: 4px; /* Coins arrondis pour un look moderne */
    background-color: white; /* Couleur de fond pour la clarté */
    color: #333; /* Couleur de texte foncé pour un contraste élevé */
    font-size: 16px; /* Taille de police pour une bonne lisibilité */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Ombre discrète pour la profondeur */
    appearance: none; /* Désactiver l'apparence par défaut du navigateur */
    cursor: pointer; /* Indiquer que l'élément est interactif */
}

/* Effet au survol */
#agents-dropdown:hover {
    border-color: #888; /* Changer la couleur de la bordure au survol */
}

/* Effet lors de la sélection */
#agents-dropdown:focus {
    outline: none; /* Supprimer le contour par défaut */
    border-color: #555; /* Bordure plus foncée pour l'état focus */
    box-shadow: 0 0 8px rgba(0,0,0,0.2); /* Ombre plus marquée pour l'accentuation */
}

/* Style des options à l'intérieur de la liste déroulante */
#agents-dropdown option {
    padding: 8px; /* Padding pour rendre les options plus faciles à sélectionner */
    background: white; /* Fond blanc pour les options */
    color: #333; /* Texte foncé pour un contraste élevé */
}

/* Assurez-vous que les options sont visibles dans les navigateurs qui utilisent Webkit */
#agents-dropdown:-webkit-autofill,
#agents-dropdown:-webkit-autofill:hover, 
#agents-dropdown:-webkit-autofill:focus, 
#agents-dropdown:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}



body, html {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    color: white; 
}

#top-bar {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.example::-webkit-scrollbar {
    display: none;
  }

#nav-buttons {
    display: flex;
}

#top-bar button {
    background: none;
    border: 2px solid white;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    color: white;
    margin-right: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#top-bar button:last-child {
    margin-right: 0;
}

#top-bar button:hover {
    background-color: white;
    color: #6a11cb;
}

#logout-btn {
    margin-left: auto;
}

.draggable-container {
    min-height: 150px;
    padding: 1rem;
    border: 2px dashed white;
    margin: 1rem;
    border-radius: 10px;
}

#targets-list {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem;
}

#targets-list table {
    width: 100%;
    border-collapse: collapse; 
}

#targets-list th,
#targets-list td {
    text-align: left;
    padding: 0.5rem;
    border-bottom: 1px solid white; 
}

#command-terminal {
    position: relative;
    margin: 1rem 1rem 2rem 1rem;  /* Marges pour top, right, bottom, et left */
    padding: 1rem;
    
}


#active-shell {
    color: #fff; /* Texte blanc pour contraste */
    font-family: 'Courier New', Courier, monospace; /* Police typique de terminal */
    border-radius: 10px;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent pour correspondre à votre style */
}

#shell-target {
    white-space: nowrap; /* Empêcher le prompt de retourner à la ligne */
}

#shell-input {
    all: unset; /* Supprimer les styles par défaut pour l'élément éditable */
    width: 80%;  /* Assurez-vous que la largeur est suffisante */
    min-height: 1.5em;  /* Hauteur minimale pour faciliter le clic */
    padding: 8px;  /* Padding suffisant pour l'interaction */
    padding-right: 80%;
    color: white;
    outline: none;  /* Supprimer l'outline lors de la sélection */
    cursor: text;  /* Indiquer visuellement que l'élément est éditable */
}


#shell-input:focus {
    outline: none; /* Pas de contour lors de la sélection */
}



#command-history {
    width: calc(100% - 2rem);  /* Largeur ajustée pour tenir compte des marges */
    height: 150px;             /* Hauteur fixe pour le conteneur d'historique */
    max-height: 300px;         /* Hauteur maximale identique à la hauteur fixe */
    padding: 1rem;             /* Espace interne pour l'esthétique */
    background: rgba(0, 0, 0, 0.5);  /* Couleur de fond avec transparence */
    color: white;              /* Couleur de texte pour contraste */
    border: none;              /* Pas de bordure */
    border-radius: 10px;       /* Bords arrondis */
    font-family: monospace;    /* Style de police pour l'affichage du texte de commande */
    margin-bottom: 1rem;       /* Marge en bas pour séparation */
    overflow-y: auto;          /* Défilement vertical activé lorsque nécessaire */
}

.command-response {
    color: #bada55; 
    margin-left: 20px; 
    font-style: italic; 
}


#command-input:focus {
    outline: none;
}

#send-command-btn {
    width: 100%;
    padding: 1rem;
    background-color: #6a11cb;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

#send-command-btn:hover {
    background-color: #2575fc;
}

#logout-section a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: inline-block; 
    margin: 1rem;
    transition: background-color 0.3s;
}

#logout-section a:hover {
    background-color: #6a11cb;
    border-radius: 5px;
}



.target {
    cursor: pointer;

}

.target:hover {

    background-color: #6a11cb;
    color: white;
}




@media (min-width: 768px) {
    
}